<link rel="stylesheet" href="/css/perfil.css">

<input type="hidden" value="{{perfil.id}}" name="id">

<section class="glow-on-hove">
  <div>
    <h3>Nome Completo: {{perfil.nome}}</h3>
    <h3>CPF: {{perfil.cpf}}</h3>
  </div>
  <img src="/assets/leandrinha.webp" alt="" width="130px" height="130px">
  <div>
    {{#if perfil.dificuldade}}
    <h3>Descreveu suas dificuldades: <span>{{perfil.dificuldade}}</span></h3>
    {{else}}
    <p id="show-else"></p>
    {{/if}}

    <h4>Deficiência: {{perfil.descricao}}</h4>
  </div>
  <h4>E-mail: {{perfil.email}}</h4>

</section>

<article>
  <a class="showVoltar" href="/inclusion/mostrar"></a>

              <form action="/inclusion/delete/{{perfil.id}}" method="post">
              
              <a class="showExcluir" href="/inclusion/delete"></a>
                
            </form>

</article>

<script src="/script/mostrar.js"></script>