<link rel="stylesheet" href="/css/dados.css">

    <div class="todes show"> </div>
    <div class="list">
    
            {{#each info}}
        <div class="info">
            <p><span>CPF:</span> {{this.cpf}}</p>
            <p><span>Nome:</span> {{this.nome}}</p>
            <p><span>Deficiência:</span> {{this.descricao}}</p>

            {{#if this.dificuldade}}
            <p><span>Dificuldades:</span> {{this.dificuldade}}</p>
            {{else}}
            <p><span>Dificuldades:</span> Esse cidadão não possui dificuldades ou elas já foram resolvidas </p>
            {{/if}}


        </div>
            {{/each}}

    </div>

<script src="/script/mostrar.js"></script>
